{:objects
 {:pin
  {:description "An IO pin."
   :fields
   {:id {:type (non-null ID)}
    :board_value {:type Boolean}
    :logical_value {:type Boolean}
    :pin_number {:type Int}}}
  :ip
  {:description "The Raspberry Pi's IP address."
   :fields
   {:inet4 {:type String}}}
  :state
  {:description "State atom that stores configuration info, for internal use only."
   :fields
   {:contents {:type String}}}
  :axis
  {:description "A axis of motion on the device."
   :fields {
            :id {:type (non-null ID)}
            :position {:type Float :description "Position in inches from the axis's home."}
            :travel_distance_per_turn {:type Float :description "Travel in inches per revolution"}
            :position_limit {:type Float :description "Maximum position in inches"}
            :pulses_per_revolution {:type Int :description "The number of pulses to complete a single revolution."}}}}
 
 :queries
 {:pin_by_id
  {:type :pin
   :description "A pin on the Raspberry Pi."
   :args {:id {:type ID}}
   :resolve :query/pin_by_id}
  :pins
  {
   :type (list :pin)
   :description "All pins utilized by the slide stainer app."
   :resolve :query/pins}
  :ip
  {:type :ip
   :description "The Raspberry Pi's IP address."
   :resolve :query/ip}
  :state
  {:type :state
   :resolve :query/state}
  :axis
  {:type :axis
   :resolve :query/axis}}
 
 :mutations
 {:set_pin
  {:type :pin
   :description "Sets values of a pin."
   :args {:id {:type ID}
          :logical_value {:type Boolean}}
   :resolve :mutation/set_pin}
  :set_axis
  {:type :axis
   :description "Sets the position of an axis causing motion."
   :args {:id {:type ID}
          :position {:type Float}
          :travel_distance_per_turn {:type Float :description "Travel in inches per revolution"}
          :position_limit {:type Float :description "Maximum position in inches"}
          :pulses_per_revolution {:type Int :description "The number of pulses to complete a single revolution."}}
   :resolve :mutation/set_axis}
  :move_by_pulses
  {:type :axis
   :description "Moves an axis by a certain number of pulses. Does not do bounds checking, so (physical) crashes are possible."
   :args {:id {:type ID}
          :pulses {:type Int}}
   :resolve :mutation/move_by_pulses}
  :move_relative
  {:type :axis
   :description "Attemps to move an axis by a relative amount."
   :args {:id {:type ID}
          :increment {:type Float}}
   :resolve :mutation/move_relative}
  :move_to_position
  {:type :axis
   :description "Attempts to move an axis to a position."
   :args {:id {:type ID}
          :position {:type Float}}
   :resolve :mutation/move_to_position}}}
