.onscreen-keyboard-open {
    background-color: green;
}

.onscreen-keyboard-closed {
    background-color: yellow;
}

.onscreen-keyboard {
    position: relative;
}

.onscreen-keyboard-closed {
    display: inline-block;
}
