.onscreen-keyboard-placeholder {
    /* background-color: purple; */
    height: 315px;
    margin: 0px;
    padding: 0px;
}

.onscreen-keyboard-placedholder-hidden {
    display: none;
}

.onscreen-keyboard {
    background-color: lightblue;
    position:  fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding-top: 15px;
    margin:0px;
    display: inline-block;
}

.onscreen-keyboard-closed {
    display: none;
}

.onscreen-keyboard-row {
    display: flex;
}

.onscreen-keyboard button {
    /* min-width: 60px; */
    /* min-height: 60px; */
    font-size: 28px;
    padding: 10px;
    flex: 1;
}

.onscreen-keyboard-input {
    /* min-height: 45px; */
    font-size: 24px;
}

