*{
    font-family: "Roboto","sans-serif";
}

.procedure_selection ul{
    list-style: none;
}

.procedure_selection li:hover {
    background-color: orange;
}

/* Header styles */

.header {
    height: 54px;
    width: 100%;
    background-color: #94411b;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 0px;
    top:  0px;
}

.header h1 {
    font-size: 32px;
    color: white;
    margin: 0px;
    position: absolute;
    top: 2px;
    left: 4px;
}

.header h2 {
    font-size: 10px;
    color: white;
    position: absolute;
    top: 27px;
    left: 124px;
}

.header img {
    color: white;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 6px;
    right: 6px;
}

.header .cog {
    position: absolute;
    top: 6px;
    right: 6px;
    height: 100%;
}

.header .bell {
    position: absolute;
    top: 6px;
    right: 64px;
    height: 100%;
}

.nav-header {
    display: flex;
    align-items: center;
    height: 36px;
}

.nav-header .chevron-left {
    width: 45px;
}

.nav-header h1 {
}

.header svg {
    display: block;
    margin: auto;
}

/* Body styles */
.body {
    position: absolute;
    top: 64px;
}

select {
    font-size: 32px;
}

button {
    border: none;
    color: white;
    background-color: #af5f23;
    margin: 1px;
    padding: 20px;
    box-shadow: 2px 3px 5px #0000005c;
    font-size: 32px;
}

input {
    font-size: 28px;
}

button:hover {
    background-color: #dd9945;
}

button:active {
    background-color: #ffaa45;
}

/* Procedure Selection */
.procedure_selection li {
    box-shadow: 2px 3px 5px #0000005c;
    width: 80%;
    padding: 10px;
    margin: 3px;
}

.procedure_selection .new-procedure-button {
    background-color: #af5f23;   
}

.procedure_selection h3 {
    margin: 2px;
}

.procedure_selection p {
    margin: 2px;
}

.up-down-field {
    font-size: 32px;
}

.up-down-field button {
    padding: 12px;
    font-size: 26px;
}
